name: "Build Docker Image"

on:
  push:
    branches:
      - production
    paths-ignore:
      - "*.md"
      - ".gitignore"
      - ".gitattributes"
  workflow_dispatch:
    branches:
      - production
    paths-ignore:
      - "*.md"
      - ".gitignore"
      - ".gitattributes"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build and Push
        uses: docker/build-push-action@v2
        with:
          push: false
